*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'poppins', sans-serif
}
html{
font-size: 62.5%;
}

.nav-item{
    font-size: 15px;
    margin: 0 5px;
}

.nav-item a{
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgb(31, 31, 31);
    transition: .3s;
}

.nav-item a:hover{
    color: white !important;
    transform: scale(1.1);
    font-weight: 700px;
}

.nav-item a:focus{
    color: white;
}

.logo{
    max-width: 150px;
}

.blanco{
    background: white;
    width: 185px;
    height: 80px;
    left: -2px;
    border-radius: 0 0 25px 25px;
    z-index: -99;
}



.contenedor{
    max-width: 1080px;
    width: 100%;
    padding: 0 20px;
}

.contenedor .row{
height: 100%;
}

.paga{
    font-size: 14px !important;
    padding: 8px 25px !important;
    box-shadow: -10px 12px 23px -11px rgba(57,57,57,0.67);
-webkit-box-shadow: -10px 12px 23px -11px rgba(57,57,57,0.67);
-moz-box-shadow: -10px 12px 23px -11px rgba(57,57,57,0.67);
}

.quienes{
    margin-bottom: 80px;
}

.swiper {
    width: 100%;
    height: 300px;
  }

  .quienes .col{
      padding: 0 25px;
  }

  .quienes h2{
      font-size: 25px;
  }

  .fondo-general {
    background: url("https://res.cloudinary.com/ddegh9xqy/image/upload/v1632982503/fondo_landing_wbmqbx.png");
    width: 100%;
    max-width: 1920px;
    height: 780px;
    background-size: cover;
  }


.fondo1{
    padding-top: 180px;
    margin: auto;
    width: 100%;
    max-width: 1920px;
}

.info{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center ;
    padding-bottom: 100px;
}

.info h3{
    font-size: 30px;
    text-shadow: 2px 2px 5px rgb(31, 31, 31);
}

.info h2 {
    font-size: 80px;
    font-weight: 800;
    text-shadow: 2px 2px 10px rgb(31, 31, 31);
}

.saber{
    font-size: 14px !important;
    padding: 10px 25px !important;
    box-shadow: -10px 12px 23px -11px rgba(57,57,57,0.67);
-webkit-box-shadow: -10px 12px 23px -11px rgba(57,57,57,0.67);
-moz-box-shadow: -10px 12px 23px -11px rgba(57,57,57,0.67);
    width: 200px;
    border-radius: 100px !important;
}


.img{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.img img{
    width: 100%;
    max-width: 425px;
}

.quienes h2{
    margin-top: 15px;
    font-weight: 700;
}

.quienes p{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
}

.quienes span{
    font-size: 14px;
    color: #94C11E;
    font-weight: 500;
}


.img-quienes{
    width: 100%;
    border-radius: 20px;
}


.proyecto .fondo{
    position: absolute;
    background-image: url("https://res.cloudinary.com/ddegh9xqy/image/upload/v1633466174/fondo_yayuma.svg");
    width: 100%;
    max-width: 1920px;
    height: 780px;
    background-size: cover;
    z-index: 0;
}

.proyecto-p1{
    z-index: 100;
}



.img-p1{
    height: 100%;
    width: 370px;
    background-image: url("https://res.cloudinary.com/ddegh9xqy/image/upload/v1633467938/foto_1_jvjen2.png");
    background-size: cover;
}

